In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# Load The Dataset 
df = pd.read_csv(r"C:/Users/Asus/Desktop/Workspace/Project/socialmedia-disaster-tweets-DFE.csv", encoding='latin-1')
df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,choose_one,choose_one:confidence,choose_one_gold,keyword,location,text,tweetid,userid
0,778243823,True,golden,156,NaN,Relevant,1.0000,Relevant,NaN,NaN,Just happened a terrible car crash,1.0,NaN
1,778243824,True,golden,152,NaN,Relevant,1.0000,Relevant,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,13.0,NaN
2,778243825,True,golden,137,NaN,Relevant,1.0000,Relevant,NaN,NaN,"Heard about #earthquake is different cities, s...",14.0,NaN
3,778243826,True,golden,136,NaN,Relevant,0.9603,Relevant,NaN,NaN,"there is a forest fire at spot pond, geese are...",15.0,NaN
4,778243827,True,golden,138,NaN,Relevant,1.0000,Relevant,NaN,NaN,Forest fire near La Ronge Sask. Canada,16.0,NaN

In [14]:
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10876 entries, 0 to 10875
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               10876 non-null  int64
 1   _golden                10876 non-null  bool
 2   _unit_state            10876 non-null  object
 3   _trusted_judgments     10876 non-null  int64
 4   _last_judgment_at      10792 non-null  object
 5   choose_one             10876 non-null  object
 6   choose_one:confidence  10876 non-null  float64
 7   choose_one_gold        87 non-null     object
 8   keyword                10789 non-null  object
 9   location               7238 non-null   object
 10  text                   10876 non-null  object
 11  tweetid                10876 non-null  float64
 12  userid                 10789 non-null  float64
dtypes: bool(1), float64(3), int64(2), object(7)
memory usage: 1.0+ MB

_unit_id                     0
_golden                      0
_unit_state                  0
_trusted_judgments           0
_last_judgment_at           84
choose_one                   0
choose_one:confidence        0
choose_one_gold          10789
keyword                     87
location                  3638
text                         0
tweetid                      0
userid                      87
dtype: int64